* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif !important;
}

.loading-title {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Overrides */
#fp-nav ul li .fp-tooltip {
  /* color: #333 !important; */
  background: #333;
  padding: 1px 5px;
  border: 0;
  border-radius: 3px;
}

/* Template styles */
.template-wrapper {
  max-width: 80%;
  margin: 0 10%;
  overflow: hidden;
}

/* Scroll Icon */
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  position: relative;
  margin: 0 auto;
  width: 22px;
  height: 38px;
  box-shadow: inset 0 0 0 1px #333;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 2px;
  height: 6px;
  background: #333;
  margin-left: -1px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
  }
}
